<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/JqueryUI/css")
    @Styles.Render("~/Content/css")

</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(Localization._Layout.App_Name, "Home", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="@(ViewBag.Title == "Home" ? "choice": "")">@Html.ActionLink(Localization._Layout.Home_Menu, "Home", "Home")</li>
                    <li class="@(ViewBag.Title == "Product" ? "choice": "")">@Html.ActionLink(Localization._Layout.Product_Menu, "Product", "Product")</li>
                    <li class="@(ViewBag.Title == "Shopping" ? "choice": "")">@Html.ActionLink(Localization._Layout.Shopping_Menu, "Shopping", "Shopping")</li>
                    <li class="@(ViewBag.Title == "ChatRoom" ? "choice": "")">@Html.ActionLink(Localization._Layout.ChatRoom_Menu, "ChatRoom", "ChatRoom")</li>
                </ul>
                @Html.Partial("_LoginPartial")
                <div class="dropdown">
                    <button class="dropbtn">@((Session["Culture"] as System.Globalization.CultureInfo)?.Name == "vi" ? Localization._Layout.str_VietNamese : Localization._Layout.str_English)</button>
                    <div class="dropdown-content">
                        @Html.ActionLink(Localization._Layout.str_English, "ChangeLanguage", "Home", new { lang = "en", returnUrl = this.Request.RawUrl }, null)
                        @Html.ActionLink(Localization._Layout.str_VietNamese, "ChangeLanguage", "Home", new { lang = "vi", returnUrl = this.Request.RawUrl }, null)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @Localization._Layout.App_Footer</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
