<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/JqueryUI/css")
    @Styles.Render("~/Content/css")

</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Football Store NTD", "Home", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="@(ViewBag.Title == "Home" ? "choice": "")">@Html.ActionLink("Home", "Home", "Home")</li>
                    <li class="@(ViewBag.Title == "Product" ? "choice": "")">@Html.ActionLink("Product", "Product", "Product")</li>
                    <li class="@(ViewBag.Title == "Shopping" ? "choice": "")">@Html.ActionLink("Shopping Card", "Shopping", "Shopping")</li>
                    <li class="@(ViewBag.Title == "ChatRoom" ? "choice": "")">@Html.ActionLink("Chat Room", "ChatRoom", "ChatRoom")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - NTD Shop</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
